<div class="container-fluid p-0">
    <div class="login-content">
        <div class="logo-div">
            <h2>Kudos</h2>
        </div>
        <div class="heading-div">
            <h3>Log in to your account</h3>
            <span>Welcome back! Please enter your details.</span>
        </div>
        <div class="login-form">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group-column">
                    <label class="form-label">Email</label>
                    <input class="custom-input" formControlName="email" placeholder="Enter your email"
                        type="email" pInputText/>
                </div>
                <div class="form-group-column input-hint">
                    <label class="form-label">Password</label>
                    <p-password formControlName="password" [toggleMask]="true" 
                    placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                    styleClass="w-100 custom-input" inputStyleClass="w-100"
                    [feedback]="false"/>
                </div>
                <div class="forgot-password">
                    <a routerLink="/account/forgot-password">
                        Forget Password
                    </a>
                </div>
                <p-button styleClass="w-100" label="Submit" type="submit" />
            </form>

            
        </div>

        <div class="signup-account">
            <span>Don’t have an account? <a routerLink="/register">Sign up</a></span>
        </div>
        
    </div>
</div>
